.game h1{
    font-size: 2.5em;

}

.points span{
    font-weight: bold;
    
}

.tip span{
    color: #ffef11;
}

.wordContainer{
    margin: 1.5em;
    padding: 1.5em;
    border: 10px solid #ffef11;
    border-radius: 18px;
    display: flex;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 5px solid #6F73D2;
    border-radius: 14px;
    height: 100px;
    width: 100px;
    margin-right: 10px;
    text-transform: uppercase;
    background-color: #FFF;
    color: #6F73D2;
}

.letterContainer p{
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    border: 1px solid #6F73D2;
    border-radius: 8px;
}